@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
      font-family: "Quicksand", sans-serif;
}
header{
    height: 100vh;
    background: url('./img/home_bg.jpeg') center center/cover no-repeat;
    position: relative;
}
#navbar{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    
}
#navbar img{
    width: 80px;
    margin-left: 100px;
}

#navbar ul{
    display: flex;
    margin-right: 100px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none ;
}
/* utility class */
.primary-text{
    color: rgb(239, 239, 16);
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}
.btn-primary{
    color: #fff;
    border: solid 1px white;
}
.btn-primary:hover{
    background-color: rgb(210, 192, 26);
    color: black;
}
#navbar ul li a{
    padding: 15px 20px;
    color: white;
    font-weight: 600;
}

#navbar ul li a:hover{
    border-bottom: 2px solid rgb(245, 225, 47);
    
}

header .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
}

header .content h1{
    font-size: 40px;
    color: white;
}
header .content p{
    margin: 20px 0 40px;
    color: white;
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.6);
}
header * {
    z-index: 1;
}